<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]--> 
<head id="ctl00_Head1"><meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
    <title>Women's Shoes, Sandals, Boots | Naturalizer Comfortable Shoes</title>
    <script type="text/javascript" src="/scripts/jquery-1.4.2.min.js"></script>
    <!-- Shop:90051_HeadContent [Main] START --><!-- Shop:90051_HeadContent [Main] END -->
</head>
<body id="ctl00_bodyElement" class="defaultPage">  
    <div id="TopMargin">
        <!-- Shop:90051_Template_TopMargin [Main] START --><!-- Shop:90051_Template_TopMargin [Main] END -->
    </div>
    <div id="pageContainer">
        <div class="targettedCampaignBanner"></div>
        <div id="header">
            <!-- Shop:90051_Template_Header [Main] START --><!-- Shop:90051_Template_Header [Main] END -->
        </div>
        <form method="post" action="Content.aspx?contentid={{record}}&amp;lang=en-US" id="aspnetForm">
        <div id="content-body">
            <table cellpadding="0" cellspacing="0" border="0" id="content-frame">
                <tr>
                    <td colspan="2" id="content-wideShop">
                        <div>
                            <!-- Shop:90051_{{record}} [Top] START --><!-- Shop:90051_{{record}} [Top] END -->
                        </div>
                    </td>
                </tr>
                <tr>
                    <td valign="top" id="content-nav">
                        <div>
                            <!-- Shop:90051_{{record}} [Left] START --><!-- Shop:90051_{{record}} [Left] END -->
                        </div>
                    </td>
                    <td valign="top" id="content-shop">
                        <div>
                            <!-- Shop:90051_{{record}} [Main] START --><!-- Shop:90051_{{record}} [Main] END --> 
                        </div>
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <div id="prefootertext"></div>
                    </td>
                </tr>
            </table>
            <div class="clear">
            </div>
        </div>
        <div id="footer">
            <!-- Shop:90051_Template_Footer [Main] START --><!-- Shop:90051_Template_Footer [Main] END -->
        </div>
        </form>
    </div>
    <div id="SubFooter">
        <!-- Shop:90051_Template_SubFooter [Main] START --><!-- Shop:90051_Template_SubFooter [Main] END -->
    </div>
</body>
</html>
