
<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]--> 

<head id="ctl00_Head1"><meta charset="utf-8" /><meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" /><title>{{brand}} {{style}} {{color}}</title>
    <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
    <script language="javascript" type="text/javascript" src="/scripts/mdetect.js"></script>
    <script language="javascript" type="text/javascript" src="/scripts/MobileRedirect.js"></script>
    <script type="text/javascript" src="/scripts/jquery-1.4.2.min.js"></script>
    <script type="text/javascript" src="/Scripts/JavascriptErrorLogger.js"></script>
    <script type="text/javascript" src="/scripts/Scripts.js"></script>
    <script type="text/javascript" src="/scripts/ProductFindingMethod.js"></script>
    <script type="text/javascript" src="/scripts/QueryString_Cookie_Managers.js"></script>
    <!-- FACEBOOK::META -->
    <meta property="og:title" content="Bravery" />
    <meta property="og:description" content="Boot up with the Bravery boot from Naturalizer.Faux leather upper in a lace up boot style with a round toeDecorative metal buckles, straps and zipperSide zip entrySmooth lining, cushioning insole features N5 comfort elementsNon-slip outsole, 1 1/4 inch heel" />
    <meta property="og:type" content="product" /><meta property="og:url" content="http://www.naturalizer.com/en-US/Product/{{id}}-3012804/Naturalizer/Burnished+Brown/Bravery.aspx" />
    <meta property="og:image" content="http://www.naturalizer.com/ProductImages/shoes_ia{{id}}.jpg" />
    <meta property="og:image" content="http://www.naturalizer.com/ProductImages/shoes_ib{{id}}.jpg" />
    <meta property="og:image" content="http://www.naturalizer.com/ProductImages/shoes_ic{{id}}.jpg" />
    <meta property="og:image" content="http://www.naturalizer.com/ProductImages/shoes_id{{id}}.jpg" />
    <meta property="og:image" content="http://www.naturalizer.com/ProductImages/shoes_ie{{id}}.jpg" />
    <meta property="og:image" content="http://www.naturalizer.com/ProductImages/shoes_if{{id}}.jpg" />
    <meta property="og:image" content="http://www.naturalizer.com/ProductImages/shoes_ig{{id}}.jpg" />
    <meta property="og:image" content="http://www.naturalizer.com/ProductImages/shoes_ih{{id}}.jpg" />
    <meta property="og:site_name" content="Naturalizer.com" /><meta property="og:price:amount" content="{{price.sale}}" />
    <meta property="og:price:standard_amount" content="{{price.sale}}" /><meta property="og:price:currency" content="USD" />
    <meta property="og:availability" content="instock" /><meta property="product:gender" content="W" >
    <meta property="product:color" content="{{color}}" ><meta property="og:brand" content="Naturalizer" >
    <meta property="og:upc" content="{{id}}" >
</head>
<body id="ctl00_bodyElement" class="productdetailsPage">
    <script type="text/javascript">
	var CartQuantityScript = function () {
		var cookies = new CookieManager();
		var qty = cookies.getValue("CART_TOTAL_QUANTITY_90051", null);
		var link = document.getElementById("myCartActive");
		if(link && qty && (qty > 0)){
		 $('#topnav-service ul li#topnav-cart a').addClass('notEmpty');
		link.innerHTML = " (" + qty + ")";
	}
	}
	$(document).ready(CartQuantityScript);
    </script>    
    
    <div id="TopMargin">
        <!-- Shop:90051_Template_TopMargin [Main] START --><!-- Shop:90051_Template_TopMargin [Main] END -->
    </div>
    <div id="pageContainer">
        <div class="targettedCampaignBanner"></div>
        <script src="/Scripts/TargettedCampaignBanner.js"></script>
        <script src="/Scripts/e4x.js?v=2"></script>
        <div id="header">
            <!-- Shop:90051_Template_Header [Main] START --><!-- Shop:90051_Template_Header [Main] END -->
        </div>
        <div id="content-body">
            
    <form method="post" action="http://www.naturalizer.com/en-US/Product/{{id}}-3012804/Naturalizer/Burnished+Brown/Bravery.aspx" onsubmit="javascript:return WebForm_OnSubmit();" id="aspnetForm">
    <script type="text/javascript" src="/Scripts/ProductDetails.js"></script>
    
    <div itemscope itemtype="http://schema.org/Product"></div>
    <div class="mainContainer_NLN" id="prodDetailWrap">
        <!-- BEGIN LEFT COLUMN -->
        <div class="leftCol" id="shoesItem">
            <input type="hidden" id="SEORoutesNativeUrl" value="http://www.naturalizer.com/Shopping/ProductDetails.aspx?p={{id}}&pg=3012804" />
            <div class="topBtns">
                <script src="/Scripts/GoBackToLastSearch.js"></script>
                <div id="ctl00_cphPageMain_btn_prevPage" class="btn_prevPage" title="Back to previous page"><a href="http://www.naturalizer.com/en-US/Womens/_/_/Boots/Size+9.0+Womens/Products.aspx?icid=wk46HP_AllBootsOnSaleTile" class="aPrevPageBtn" style="position: relative; display: block;">&nbsp;</a></div>
                    <div class="btn_seeAll" title="See all styles of this brand">
                        <div class="btn_seeAll_left">
                        </div>
                        <div class="btn_seeAll_bg">
                            <p>
                                <a id="ctl00_cphPageMain_hypAllStyles" href="/en-US/_/_/_/Athletic+Shoes/_/Products.aspx">all styles of this brand</a></p>
                        </div>
                        <div class="btn_seeAll_right">
                        </div>
                    </div>
                    <span class="SKUtxt">Style # {{id}}</span> 
                </div>
            
<div id="ctl00_cphPageMain_ImageMultiView1_prodImgWrap" class="prodImgWrap"> 
	<div class="prodImg">
		<div><img id="ctl00_cphPageMain_ImageMultiView1_imgLargeDisplay" itemprop="image" src="/ProductImages/shoes_ia{{id}}.jpg" alt="{{brand}} {{style}}" /></div>
		<div id="ctl00_cphPageMain_ImageMultiView1_pnlViewMult">
		    <div id="ctl00_cphPageMain_ImageMultiView1_btn_ViewMult" title="view multiple angles" class="btn_ViewMult">		
		        <h3 class=hide>view multiple angles</h3>
	       </div>        
        </div>
	</div>
	<div id="ctl00_cphPageMain_ImageMultiView1_pnlExtThumbs">
		<div id="divExtThumbs" name="divExtThumbs" class="prod-multAngles">
    		<span id="ctl00_cphPageMain_ImageMultiView1_dlImageIcons">
                <span>
                    <div class="multThumbs"><img id="ctl00_cphPageMain_ImageMultiView1_dlImageIcons_ctl00_imgIcon" itemprop="thumbnail" onmouseover="document.getElementById(&#39;ctl00_cphPageMain_ImageMultiView1_imgLargeDisplay&#39;).src=&#39;/ProductImages/shoes_ia{{id}}.jpg&#39;;" src="/ProductImages/shoes_i1{{id}}.jpg" style="height:40px;width:40px;" /></div>
    			</span>
                <br />
                <span>
    				<div class="multThumbs"><img id="ctl00_cphPageMain_ImageMultiView1_dlImageIcons_ctl01_imgIcon" itemprop="thumbnail" onmouseover="document.getElementById(&#39;ctl00_cphPageMain_ImageMultiView1_imgLargeDisplay&#39;).src=&#39;/ProductImages/shoes_ib{{id}}.jpg&#39;;" src="/ProductImages/shoes_i2{{id}}.jpg" style="height:40px;width:40px;" /></div>
    			</span>
                <br />
                <span>
    				<div class="multThumbs"><img id="ctl00_cphPageMain_ImageMultiView1_dlImageIcons_ctl02_imgIcon" itemprop="thumbnail" onmouseover="document.getElementById(&#39;ctl00_cphPageMain_ImageMultiView1_imgLargeDisplay&#39;).src=&#39;/ProductImages/shoes_ic{{id}}.jpg&#39;;" src="/ProductImages/shoes_i3{{id}}.jpg" style="height:40px;width:40px;" /></div>
    			</span>
                <br />
                <span>
    				<div class="multThumbs"><img id="ctl00_cphPageMain_ImageMultiView1_dlImageIcons_ctl03_imgIcon" itemprop="thumbnail" onmouseover="document.getElementById(&#39;ctl00_cphPageMain_ImageMultiView1_imgLargeDisplay&#39;).src=&#39;/ProductImages/shoes_id{{id}}.jpg&#39;;" src="/ProductImages/shoes_i4{{id}}.jpg" style="height:40px;width:40px;" /></div>
    			</span>
                <br />
                <span>
    				<div class="multThumbs"><img id="ctl00_cphPageMain_ImageMultiView1_dlImageIcons_ctl04_imgIcon" itemprop="thumbnail" onmouseover="document.getElementById(&#39;ctl00_cphPageMain_ImageMultiView1_imgLargeDisplay&#39;).src=&#39;/ProductImages/shoes_ie{{id}}.jpg&#39;;" src="/ProductImages/shoes_i5{{id}}.jpg" style="height:40px;width:40px;" /></div>
    			</span>
                <br />
                <span>
    				<div class="multThumbs"><img id="ctl00_cphPageMain_ImageMultiView1_dlImageIcons_ctl05_imgIcon" itemprop="thumbnail" onmouseover="document.getElementById(&#39;ctl00_cphPageMain_ImageMultiView1_imgLargeDisplay&#39;).src=&#39;/ProductImages/shoes_if{{id}}.jpg&#39;;" src="/ProductImages/shoes_i6{{id}}.jpg" style="height:40px;width:40px;" /></div>
    			</span>
                <br />
                <span>
    				<div class="multThumbs"><img id="ctl00_cphPageMain_ImageMultiView1_dlImageIcons_ctl06_imgIcon" itemprop="thumbnail" onmouseover="document.getElementById(&#39;ctl00_cphPageMain_ImageMultiView1_imgLargeDisplay&#39;).src=&#39;/ProductImages/shoes_ig{{id}}.jpg&#39;;" src="/ProductImages/shoes_i7{{id}}.jpg" style="height:40px;width:40px;" /></div>
    			</span>
                <br />
                <span>
    				<div class="multThumbs"><img id="ctl00_cphPageMain_ImageMultiView1_dlImageIcons_ctl07_imgIcon" itemprop="thumbnail" onmouseover="document.getElementById(&#39;ctl00_cphPageMain_ImageMultiView1_imgLargeDisplay&#39;).src=&#39;/ProductImages/shoes_ih{{id}}.jpg&#39;;" src="/ProductImages/shoes_i8{{id}}.jpg" style="height:40px;width:40px;" /></div>
    			</span>
            </span>
    	</div>
    </div>
	<div class="prodImg-btm-wrap">
		<div class="prodImg-note">Product Photos above may not match selected item color</div>
		<div class="prodImg-btm"><img src="/App_Themes/Default/images/pixel.gif" border="0"></div>
	</div>
</div>
</div>
<!-- BEGIN RIGHT COLUMN -->
<div class="rightCol">
    <div itemprop="offers" itemscope itemtype="http://schema.org/Offer"></div>
            
    
<div class="rightCol-top">
    <div class="style-price">    
        <h1 class="PD_BrandStyle">
            <span id="ctl00_cphPageMain_BrandAndPrice1_lblBrandStyle" class="PD_Brand">{{brand}} </span>
            <span id="ctl00_cphPageMain_BrandAndPrice1_lblDisplayName" class="PD_Style" itemprop="name">{{style}}</span>
        </h1>
        
        <span id="ctl00_cphPageMain_BrandAndPrice1_ProductPrice" itemprop="price" class="red price">
            <meta itemprop="priceCurrency" content="USD" />
            <span class="e4xprice"  e4xprice_usd="{{price.sale}}00"></span>
            &nbsp;
        </span>
        {{#offer.percent}}
        <div id="ctl00_cphPageMain_BrandAndPrice1_SalesTag" class="salesTagWrap" style="">
            <div class="salesTag-num" id="SalePriceDiscount">
                {{offer.percent}}</div>
            <div class="salesTag-percOff">
                <span class="hide">% OFF</span>
            </div>
        </div>
        {{/offer.percent}}
        <span class="note">
            price may vary based on color</span>
        
            <span class="origPrice">
                <span class="e4xprice"  e4xprice_usd="{{previous}}00">original price:</span>
            </span>
        
        
            <span class="note">Item #{{id}}</span>
        
    </div>
    <div class="style-brandLogo">
        <a id="ctl00_cphPageMain_BrandAndPrice1_hypBrandLogo" href="/en-US/_/_/_/_/_/Products.aspx"></a>
    </div>
</div>


            
            
            
                <div class="chooseBox" id="productSelectionOnline">
                    <div id="ctl00_cphPageMain_ProductSelection2_prdSelection">
<div id="ctl00_cphPageMain_ProductSelection2_divChooseStep1" class="step1">
    <select name="ctl00$cphPageMain$ProductSelection2$ddlColor" id="ctl00_cphPageMain_ProductSelection2_ddlColor" class="stepOpt" onchange="javascript: location.href=&#39;/Shopping/ProductDetails.aspx?p=&#39; + this.options[this.selectedIndex].value + &#39;&amp;pg=3012804&#39;">
	<option value="EC0202222" itemprop="color">Black</option>
	<option selected="selected" value="{{id}}" itemprop="color">Burnished Brown</option>

</select>
   
</div>

<div id="ctl00_cphPageMain_ProductSelection2_divChooseStep2" class="step2">
	<select name="ctl00$cphPageMain$ProductSelection2$ddlSizeAndWidth" id="ctl00_cphPageMain_ProductSelection2_ddlSizeAndWidth" class="stepOpt SizeWidth" onchange="javascript:HideValidators();">
	<option selected="selected" value="select available size and width">select available size and width</option>
	<option value="{{id}}-060-05">6.0 M  (EU 37.0)</option>
	<option value="{{id}}-065-05">6.5 M  (EU 37.0)</option>
	<option value="{{id}}-070-05">7.0 M  (EU 38.0)</option>
	<option value="{{id}}-075-05">7.5 M  (EU 38.0)</option>
	<option value="{{id}}-075-07">7.5 W  (EU 38.0)</option>
	<option value="{{id}}-080-05">8.0 M  (EU 39.0)</option>
	<option value="{{id}}-080-07">8.0 W  (EU 39.0)</option>
	<option value="{{id}}-085-05">8.5 M  (EU 39.0)</option>
	<option value="{{id}}-090-05">9.0 M  (EU 40.0)</option>
	<option value="{{id}}-090-07">9.0 W  (EU 40.0)</option>
	<option value="{{id}}-095-05">9.5 M  (EU 40.0)</option>

</select>	
    <!-- Shop:90051_FALink [Main] START --><!-- Shop:90051_FALink [Main] END -->
</div>

<div id="ctl00_cphPageMain_ProductSelection2_divStep2Validators" class="step2_val" style="width:100%; color:red">
    <span id="ctl00_cphPageMain_ProductSelection2_CustomValidateAddToCart" style="display:none;">Please select an available size/width to add this item to your shopping cart.</span>
    <span id="ctl00_cphPageMain_ProductSelection2_CustomValidateAddToCartE4x" style="display:none;">Sorry, but this product is not available for international shipping.</span>
    <span id="ctl00_cphPageMain_ProductSelection2_CustomValidateAddToWishlist2" style="display:none;">Please select an available size/width to add this item to your wish list.</span>
    <span id="ctl00_cphPageMain_ProductSelection2_CustomValidateEmailtoFriend" style="display:none;">Please select an available size/width to email this item to a friend.</span>
    <span id="ctl00_cphPageMain_ProductSelection2_CustomValidateAddToWishList" style="display:none;">Please select an available size/width to add this item to your wish list.</span>
    <span id="ctl00_cphPageMain_ProductSelection2_CustomValidatorMaximumWishListItems" style="display:none;">You have exceeded the maximum number of items allowed in your Wish List, you will need to delete an entry before you can add this item.</span>
</div>

<div id="ctl00_cphPageMain_ProductSelection2_divChooseStep3">
	<div id="ctl00_cphPageMain_ProductSelection2_Step3Button" class="step3">
        
        <div class="runa_add_to_cart">
		    <input type="image" name="ctl00$cphPageMain$ProductSelection2$btnAddToCart" id="ctl00_cphPageMain_ProductSelection2_btnAddToCart" class="btn_Add2Cart" src="/App_Themes/Default/images/pixel.gif" alt="Add To Cart" onclick="javascript:WebForm_DoPostBackWithOptions(new WebForm_PostBackOptions(&quot;ctl00$cphPageMain$ProductSelection2$btnAddToCart&quot;, &quot;&quot;, true, &quot;Cart&quot;, &quot;/en-US/Product/{{id}}-3012804/Naturalizer/Burnished+Brown/Bravery.aspx&quot;, false, false))" />
        </div>
		
		<div class="email2friend"><a href="javascript: EmailPopup('ctl00_cphPageMain_ProductSelection2_ddlColor', 'ctl00_cphPageMain_ProductSelection2_ddlSizeAndWidth', ''); ">Email to a Friend</a></div>
		
		<div class="add2wishlist"><a id="ctl00_cphPageMain_ProductSelection2_dtnAddToWishList" href="javascript:WebForm_DoPostBackWithOptions(new WebForm_PostBackOptions(&quot;ctl00$cphPageMain$ProductSelection2$dtnAddToWishList&quot;, &quot;&quot;, true, &quot;Wishlist&quot;, &quot;/en-US/Product/{{id}}-3012804/Naturalizer/Burnished+Brown/Bravery.aspx&quot;, false, true))">Add To Wish List</a></div>
		
		
		<div class="inStockNoticeRequestLinkWrapper">




			<div class="inStockNoticeRequestLinkWrapper" ><a id="lnksizeNotify" href="javascript:void(0);">Don't see your size???</a></div>
			
			<div id="SizeNotifyLoading" style="margin:130px auto 0; text-align:center; display:none;">
			<div class="sn-please-wait">Please wait...</div>
			<div class="sn-loading-gif"><img src="/App_Themes/Default/images/inStockNoticeRequest/ajax-loader-bar.gif" alt="" /></div>
			</div>
			
			<div id="SizeNotify" class="SizeNotify" style="display:none;"></div>
			<script src="/Scripts/SizeNotify.js"></script>
			
<script>
$('#lnksizeNotify').click(function() { SizeNotify.initialize($($('div.SizeNotify')[0])); });
</script>



</div>
		
   </div>
   
</div>
</div>
<script type="text/javascript" language="javascript" src="/Scripts/email.js"></script>
<script type="text/javascript" language="javascript">
var ovdInvStatus = null;
function CheckProduct(sender, args) 
{
    var id = 'ctl00_cphPageMain_ProductSelection2_ddlSizeAndWidth';
    if ($(id).options) 
    {
		if ($(id).selectedIndex <= 0) 
		{
			$(id).focus();
		    args.IsValid = false;
		    return;
	    }
		if ($(id).options[$(id).selectedIndex].value == '') 
		{
			$(id).focus();
		    args.IsValid = false;
		    return;
	    }
	}
	args.IsValid = true;
}
function HideValidators() 
{
	if ($('ctl00_cphPageMain_ProductSelection2_ddlSizeAndWidth').selectedIndex > 0) 
	{
		$('ctl00_cphPageMain_ProductSelection2_CustomValidateAddToCart').hide();
		$('ctl00_cphPageMain_ProductSelection2_CustomValidateAddToWishlist2').hide();
		$('ctl00_cphPageMain_ProductSelection2_CustomValidateEmailtoFriend').hide();
		$('ctl00_cphPageMain_ProductSelection2_CustomValidateAddToWishList').hide();
		$('ctl00_cphPageMain_ProductSelection2_CustomValidatorMaximumWishListItems').hide();
    }
}

var ddlColor = document.getElementById('ctl00_cphPageMain_ProductSelection2_ddlColor');
var productId = '{{id}}';

if (ddlColor) {
    for (var i = 0; i < ddlColor.options.length; i++) {
        if (ddlColor.options[i].value == productId) {
            ddlColor.options[i].selected = true;
            break;
        }
    }
}

function OvdToggleADs() {
    var dd = $('#ctl00_cphPageMain_ProductSelection2_ddlSizeAndWidth');
    if (ovdInvStatus && dd && dd.attr("selectedIndex") && (dd.attr("selectedIndex") > 0)) {
        if (ovdInvStatus[dd.val()] && (ovdInvStatus[dd.val()].master < 1)) {
            
            $('.marketing-ad-contain').hide();
            $('.ovd-marketing-ad-contain').show();
            return;
        }
    }
    
    $('.marketing-ad-contain').show();
    $('.ovd-marketing-ad-contain').hide();
}
$(document).ready(function () {
    if (ovdInvStatus) {
        //setup event
        $('#ctl00_cphPageMain_ProductSelection2_ddlSizeAndWidth').change(function (e) {
            OvdToggleADs();
        });
        //initialize state
        OvdToggleADs();
    }

    $('#findAStoreLink').click(function () {
        if (DetectIpad()) {             
            $("#TB_load").remove();
            $('#TB_overlay').hide();
            $('#TB_window').hide();
            document.cookie = 'FindAStorePrevPage=' + $('<div/>').text(location.href.substring(location.href.indexOf(location.pathname))).html() + '; path=/; domain=' + siteDomain;
            window.location = '/Community/FindAStore2.aspx';
        }        
    });
});
</script>
                    <div class="helpMe">
                        <div id="ctl00_cphPageMain_dontsee" class="popup-dontsee">Colors and Sizes not listed are not available</div>
                    </div>
                    <div id="ctl00_cphPageMain_webExclusive" style="display: none">
                        <img src="/App_Themes/Default/images/product/pixel.gif" class="webExclusiveTag-pd"
                            align="middle" />
                    </div><div id="ctl00_cphPageMain_premiumTag" style="display: none">
                        <img src="/App_Themes/Default/images/product/pixel.gif" id="ctl00_cphPageMain_premiumTagImage" class="premiumTag-pd" align="middle" alt="Premium" />
                    </div>
                    <div id="FindShoe" class="findshoe">
                        
                    </div>
                </div>
            
            
                        
            <div>
                
<div id="ProductDescription">
    <span id="ctl00_cphPageMain_ucProductDescription_lblProductDescription" itemprop="description">{{{description}}}</span>
</div>
            </div>
            
            <div id="ctl00_cphPageMain_divMarketingAds" class="rightCol-infos">
                <!--BEGIN MarketingAd-->
                <div id="ctl00_cphPageMain_divMarketingAdA" class="marketing-ad-contain"></div>
                <div id="ctl00_cphPageMain_divMarketingAdB" class="marketing-ad-contain"></div>
                <div id="ctl00_cphPageMain_divMarketingAdC" class="marketing-ad-contain"></div>
                <div id="ctl00_cphPageMain_divMarketingAdAOvd" class="ovd-marketing-ad-contain"></div>
                <div id="ctl00_cphPageMain_divMarketingAdBOvd" class="ovd-marketing-ad-contain"></div>
                <div id="ctl00_cphPageMain_divMarketingAdCOvd" class="ovd-marketing-ad-contain"></div>
<!--BEGIN BV RATINGS-->
<div class="avgRating">
    <div id="BVRRSummaryContainer"></div>
</div>
<!--END BV RATINGS--> 
                <div id="ctl00_cphPageMain_divMarketingAdD" class="marketing-ad-contain"></div>
                <div id="ctl00_cphPageMain_divMarketingAdShip" class="marketing-ad-contain"></div>
                <div id="ctl00_cphPageMain_divMarketingAdDOvd" class="ovd-marketing-ad-contain"></div>
                <div id="ctl00_cphPageMain_divMarketingAdShipOvd" class="ovd-marketing-ad-contain"></div>
            </div>
        </div>
    </div>
    
</form>
           
        <div id="ProdDetailsTabs">
            <ul class="tabs">
                <li><a href="#tabCustomerReviews">Ratings &amp; Reviews</a></li>                
            </ul>
            <div class="tab_container">
                <div id="tabCustomerReviews" class="tab_content">
					

<h2 class="PD_BrandStyle">
    <span id="ctl00_cphPageMain_ReviewsSectionHeadline1_lblBrandStyle" class="PD_Brand">{{brand}} </span>
    <span id="ctl00_cphPageMain_ReviewsSectionHeadline1_lblDisplayName" class="PD_Style" itemprop="name">{{style}} Reviews</span>
</h2>

                    <div id="bvRating">
                    </div>
                    
			<!-- BV REVIEWS-->
				        <div id="BVtabSimulation" class="prodReviews">
					        <script type="text/javascript" language="javascript">
						        function showReviewMarkup()
						        {
							        document.getElementById('BVtabSimulation').style.display = "block";
						        }
					        </script>
					        <div>
						        <table cellpadding="0" cellspacing="0" border="0" align="left">
							        <tr>
								        <td>
									        <div class="blueTab">
										        <div class="txt_ProductReviews" title="Product Reviews"><h3 class="hide">PRODUCT REVIEWS</h3></div>
										        <div class="blueTab_end"></div>
									        </div>
								        </td>
							        </tr>
							        <tr>
								        <td>
									        <div id="BVRRContainer">
									            
									        </div>
                                            <div id="ctl00_cphPageMain_bvReviews_BVdefaultURL">		
                                                 <a href="http://reviews.naturalizer.com/2245/3012804/reviews.htm" id="BVDefaultLink">See All Reviews</a>			
                                            </div>
								        </td>
							        </tr>						
						        </table>
					        </div>
				        </div>
			<!--END BV REVIEWS-->
                </div>                                
            </div>
        </div>
    
    
    
    
        <script src="/Scripts/RememberYourSize.js"></script>
        
    </span>

            <div class="clear">
            </div>
        </div>
        <div id="footer">
            <!-- Shop:90051_Template_Footer [Main] START --><!-- Shop:90051_Template_Footer [Main] END -->
        </div>
    </div>
    <div id="SubFooter">
        <!-- Shop:90051_Template_SubFooter [Main] START --><!-- Shop:90051_Template_SubFooter [Main] END -->
    </div>
</body>
</html>
