<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]--> 
<head id="ctl00_Head1">
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <title>Womens Shoes, Pumps, Sandals | Naturalizer.com</title>
    <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
    <script type="text/javascript" src="/scripts/jquery-1.4.2.min.js"></script>
    <!-- Shop:90051_HeadContent [Main] START --><!-- Shop:90051_HeadContent [Main] END -->
</head>
<body id="ctl00_bodyElement" class="resultsPage">
    <div id="tooltipBucket"></div>
    <div id="TopMargin">
        <!-- Shop:90051_Template_TopMargin [Main] START --><!-- Shop:90051_Template_TopMargin [Main] END -->
    </div>
    <div id="pageContainer">
        <div class="targettedCampaignBanner"></div>
        <script src="/Scripts/TargettedCampaignBanner.js"></script>
        
        <div id="header">
            <!-- Shop:90051_Template_Header [Main] START --><!-- Shop:90051_Template_Header [Main] END -->
        </div>
        <form method="post" action="http://www.naturalizer.com/womens" id="aspnetForm">
            <div class="aspNetHidden">
                <input type="hidden" name="__VIEWSTATE" id="__VIEWSTATE" value="0WUZnWrWvV7e/RX8zVJEVtHMmGBJ5v1aPPtall/5hoUAPtIxuvITYxCQjw+8Nf6qPHcYjnbt/KxBOxD5Z8PrTkOCDn+/61RJK+7TGsO/1XVNOafZ" />
            </div>
            <div id="content-body">
                <table cellpadding="0" cellspacing="0" border="0" id="content-frame">
                    <tr>
                        <td colspan="2" id="content-wideShop">
                            <div></div>
                        </td>
                    </tr>
                    <tr>
                        <td valign="top" id="content-nav"></td>
                        <td valign="top" id="content-shop">
                            <div>
                                <div id="ResultZone4_wrapper" style="display:block;">
                                   <div>        
                                      <div class="searchMessageBar"></div>
                                    </div>  
                                </div>
                                <div id="ResultZone3_wrapper" style="display:block;">
                                    <div id="refineBar">
                                        <div class="breadCrumbBar">
                                            <div class="breadCrumbs">
                                                <h1>
                                                    Women's 
                                                </h1>
                                            </div>
                                        </div>
                                        <div class="searchRecordCount">
                                            <span id="ctl00_cphPageMain_ResultsZoneMultiSelect_ResultsBreadcrumbs_LabelRecordsFound">395 style(s) found</span>
                                        </div>
                                        <div class="results-sortbar">
                                            <h3>Narrow Your Size</h3>
                                            <label id="sortbar-size">Size
                                                <select name="ctl00$cphPageMain$ResultsZoneMultiSelect$ResultsTopNav$ctl02$DropDownRefinements" id="ctl00_cphPageMain_ResultsZoneMultiSelect_ResultsTopNav_ctl02_DropDownRefinements" onChange="if(this.value) { window.location = this.value; }">
                                                   <option value="">Choose One</option>
                                                </select>
                                            </label>
                                            <label id="sortbar-width">Width
                                                <select name="ctl00$cphPageMain$ResultsZoneMultiSelect$ResultsTopNav$ctl03$DropDownRefinements" id="ctl00_cphPageMain_ResultsZoneMultiSelect_ResultsTopNav_ctl03_DropDownRefinements" onChange="window.location = this.options[this.selectedIndex].value;">
                                                    <option value="Choose One">Choose One</option>
                                                </select>
                                            </label>
                                            <label id="sortbar-subcategory"></label>
                                            <label id="sortbar-color">Color
                                                <select name="ctl00$cphPageMain$ResultsZoneMultiSelect$ResultsTopNav$ctl00$DropDownRefinements" id="ctl00_cphPageMain_ResultsZoneMultiSelect_ResultsTopNav_ctl00_DropDownRefinements" onChange="window.location = this.options[this.selectedIndex].value;">
                                                    <option value="Choose One">Choose One</option>
                                                </select>
                                            </label>
                                            <label id="sortbar-price">Price
                                                <select name="ctl00$cphPageMain$ResultsZoneMultiSelect$ResultsTopNav$ctl01$DropDownRefinements" id="ctl00_cphPageMain_ResultsZoneMultiSelect_ResultsTopNav_ctl01_DropDownRefinements" onChange="window.location = this.options[this.selectedIndex].value;">
                                                    <option value="Choose One">Choose One</option>
                                                </select>
                                            </label>
                                            <div class="clear"></div>       
                                        </div>
                                    </div>
                                </div>
                                <div id="ResultZone2_wrapper" style="display:block;">
                                    <div id="ctl00_cphPageMain_ResultsZoneSearchDetail_divPagerTop" class="sortBar">
                                        <table cellpadding="0" cellspacing="0" border="0">
                                            <tr>
                                                <td align="left">
                                                    <table>
                                                        <tr>
                                                            <td>
                                                                <div id="divMenuHide">
                                                                    <label id="ctl00_cphPageMain_ResultsZoneSearchDetail_ResultsSort_sort">Sort By:</label>
                                                                    <select name="ctl00$cphPageMain$ResultsZoneSearchDetail$ResultsSort$selSortBy" id="ctl00_cphPageMain_ResultsZoneSearchDetail_ResultsSort_selSortBy" onchange="location = this.options[this.selectedIndex].value">
                                                                        <option value="/womens?nodefault=1" rel="nofollow">Best Match</option>
                                                                    </select>
                                                                </div>
                                                            </td>
                                                            <td>
                                                                <label id="ctl00_cphPageMain_ResultsZoneSearchDetail_ResultsSort_view">View: </label> 
                                                                <select name="ctl00$cphPageMain$ResultsZoneSearchDetail$ResultsSort$selPageSize" id="ctl00_cphPageMain_ResultsZoneSearchDetail_ResultsSort_selPageSize" onchange="location = this.options[this.selectedIndex].value">
                                                                   <option value="/en-US/Womens/_/_/_/View+12/Products.aspx" rel="nofollow">12 items per page</option>
                                                                </select>
                                                            </td>
                                                        </tr>
                                                    </table>
                                                </td>
                                                <td align="right">
                                                    <span class="ResultsPager">
                                                       <span class="pagerInactive">1</span>
                                                       <a href="/en-US/Womens/_/_/_/Num+96/Products.aspx" class="pagerLinks">2</a>
                                                       <a href="/en-US/Womens/_/_/_/Num+192/Products.aspx" class="pagerLinks">3</a>
                                                       <a href="/en-US/Womens/_/_/_/Num+288/Products.aspx" class="pagerLinks">4</a>
                                                       <a href="/en-US/Womens/_/_/_/Num+384/Products.aspx" class="pagerLinks">5</a>
                                                       <a href="/en-US/Womens/_/_/_/Num+96/Products.aspx" class="pageBtn"><img src="/App_Themes/Default/Images/pixel.gif" class="btn-pageNext" /></a>
                                                   </span>
                                                </td>
                                            </tr>
                                        </table>
                                    </div>
                                    <!-- Shop:90051_Template_ResultsItemsTop [Main] START --><!-- Shop:90051_Template_ResultsItemsTop [Main] END -->
                                    <div id="ctl00_cphPageMain_ResultsZoneSearchDetail_SearchResultsThumbnails" class="searchResultsThumbnails results-thumbnails-grid">
                                    <span class='runa_command' type='product_aggregate' product_id="EC0211842" name="Naturalizer Lecture" unit_price="44.5" list_price="89" product_attributes='' categories=""></span>
                                    
                                    <!-- PRODUCTS ********************** -->
                                    {{#products}}
                                    <div class="productCell n-1 b-{{brand}} {{#flags}} s-{{.}}{{/flags}} pg-{{group}}" id="p-{{id}}">
                                        <div class="productCellWrapper">
                                            <div class="productImage">
                                                <a href="/en-US/Product/{{id}}-{{group}}/{{url.brand}}/{{url.color}}/{{url.style}}.aspx">
                                                    <img alt="{{brand}} {{style}}" src="/productimages/shoes_is{{id}}.jpg" border="0" />
                                                </a>
                                                <span class="badge"></span>
                                            </div>
                                            <div class="offerDetails">
                                                <span class="percentOff">50% OFF</span>
                                            </div>
                                            <div class="productBrandTitleColor">
                                                <a href="/en-US/Product/{{id}}-{{group}}/{{url.brand}}/{{url.color}}/{{url.style}}.aspx">
                                                <span class="brand">{{brand}}</span>
                                                <span class="styleName name">{{style}}</span>
                                                <span class="styleName color">{{color}}</span></a>
                                                {{#rating}}
                                                <div class="review">
                                                    <span class="rating starRating45">{{stars}} ({{number}}) </span>
                                                    <span class="moreReviews">| <a href="/en-US/Product/{{id}}-{{group}}/{{url.brand}}/{{url.color}}/{{url.style}}.aspx#BVRRContainer">read reviews</a></span>
                                                </div>
                                                {{/rating}}
                                            </div>
                                            {{#price}}
                                            <div class="price">
                                                <span class="salePrice e4xprice"  e4xprice_usd="{{sale}}"></span>
                                                {{#previous}}
                                                <span class="originalPrice">
                                                    <span class="previousPrice multiOpt e4xprice" e4xprice_usd="{{previous}}">was&nbsp;</span>
                                                    <span class="saveComma multiOpt">,&nbsp;</span>
                                                    <span class="savePrice e4xprice" e4xprice_usd="{{save}}">save&nbsp;</span>
                                                </span>
                                                {{/previous}}
                                            </div>
                                            {{/price}}
                                            <span class="badge"></span>
                                        </div>
                                    </div>
                                    {{/products}}
                                    <!-- // END PRODUCTS ********************** -->

                                    <div class="clear"></div>
                                </div>
                                <!-- Shop:90051_Template_ResultsItemsBottom [Main] START --><!-- Shop:90051_Template_ResultsItemsBottom [Main] END -->
                               <div id="ctl00_cphPageMain_ResultsZoneSearchDetail_divPagerBottom" class="sortBar">
                                    <span class="ResultsPager">
                                        <span class="pagerInactive">1</span>
                                        <a href="/en-US/Womens/_/_/_/Num+96/Products.aspx" class="pagerLinks">2</a>
                                        <a href="/en-US/Womens/_/_/_/Num+192/Products.aspx" class="pagerLinks">3</a>
                                        <a href="/en-US/Womens/_/_/_/Num+288/Products.aspx" class="pagerLinks">4</a>
                                        <a href="/en-US/Womens/_/_/_/Num+384/Products.aspx" class="pagerLinks">5</a>
                                        <a href="/en-US/Womens/_/_/_/Num+96/Products.aspx" class="pageBtn"><img src="/App_Themes/Default/Images/pixel.gif" class="btn-pageNext" /></a>
                                    </span>
                                </div>
                                <script type="text/javascript" src="/Scripts/RememberYourSize.js"></script>
                                <input name="ctl00$cphPageMain$ResultsZoneSearchDetail$HiddenEles" type="text" value="45NwI7CC9LD/r2QxRRNESV/wzQAYTSAYW6hNTKMSV71GZEZMRAJEucVowv4LSdDnI+WrZO1EJB+SSIVQlNZyAJGlT6fbmvbEH0EpQ7yDdqSNb29uVTqhaC8hq4iBsRGJ+FHGJqrhn1XQrm5/EFnFf290b72dBs821xxM2uW882WtVk9XMEIbseqibZ9QCag9Ym0VHJs19LzQOHz/F6aNuk1UW4Oph+CWJ6Q7FA9y64WAItxKD0w/US4bmol/TDOl+H+i3t0rLe6TRCOg4lk6A7szNHu5ki83/JQCZa614b7OmFu+Xy+8XzRK3w7PfCQ7sqRs/Uf4VMgYVm5nL+xY0WYul33GH23ibnFGhW+U5vpjJpL7iehuG/Zr+VLMAbzkmqb14mr3Y2k5Ii1H8wk+RFOldOVhwtQRap8tNoIx26/66UavLQ3DXdWfC7NNu9SEG3iWd+ki6g5Gm6B970qQKcwbio8M/PgvTlks7LhvJgzJZBdYnSIitRREuUclEXbCYtil9sZ5irAGcdPLWHeZTQ==" id="ctl00_cphPageMain_ResultsZoneSearchDetail_HiddenEles" class="elesValue" style="display:none;" />
                            </div>
                        </div>
                    </td>
                </tr>
                    <tr>
                    <td colspan="2">
                        <div id="prefootertext">
                            <span id='runa_raw_page_type' type='department'></span>    
                        </div>
                    </td>
                </tr>
            </table>
            <div class="clear"></div>
        </div>
        <div id="footer">
            <!-- Shop:90051_Template_Footer [Main] START --><!-- Shop:90051_Template_Footer [Main] END -->
        </div>
    </form>
</div>
<div id="SubFooter">
    <!-- Shop:90051_Template_SubFooter [Main] START --><!-- Shop:90051_Template_SubFooter [Main] END -->
</div>
</body>
</html>
